{% extends "layout.html" %}
 {% block content %}  
  <title>Admin</title>
 {% endblock content %}
 
 {% block content1 %}


 <div class="container">
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c5a25d07-391e-4e54-a2d1-ccde281e5d82&autoAuth=true&pageName=Gauge_2=aa0f91c2-c87f-4fd9-9b3f-821394e0e69d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1rLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"  frameborder="0" allowFullScreen="true"></iframe>

</div>
{% endblock content1 %}